### DACON(데이콘) 데이콘 Basic 자동차 가격 예측 AI 경진대회

##### 데이터 전처리

In [164]:
import pandas as pd

# train.csv에서 split 하여 모델링
# test.csv는 데이콘 채첨 데이터

df = pd.read_csv('data//train.csv')
df.describe()

,생산년도,모델출시년도,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
count,57920.000000,57920.000000,5.792000e+04,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000
mean,2011.355352,2008.033408,1.678691e+05,1788.160135,0.000483,0.425242,0.517956,0.010290,0.046029,52.211752
std,5.174108,5.087963,8.319120e+04,545.413818,0.021982,0.494384,0.499682,0.100918,0.209550,35.399718
min,1978.000000,1983.000000,1.000000e+00,875.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.170000
25%,2008.000000,2004.000000,1.114345e+05,1461.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.570000
50%,2011.000000,2008.000000,1.710000e+05,1753.000000,0.000000,0.000000,1.000000,0.000000,0.000000,42.250000
75%,2016.000000,2012.000000,2.200000e+05,1995.000000,0.000000,1.000000,1.000000,0.000000,0.000000,73.970000
max,2022.000000,2021.000000,2.500000e+06,6300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,156.000000

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int64
 2   모델출시년도       57920 non-null  int64
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int64
 8   배기량          57920 non-null  int64
 9   압축천연가스(CNG)  57920 non-null  int64
 10  경유           57920 non-null  int64
 11  가솔린          57920 non-null  int64
 12  하이브리드        57920 non-null  int64
 13  액화석유가스(LPG)  57920 non-null  int64
 14  가격           57920 non-null  float64
dtypes: float64(1), int64(9), object(5)
memory usage: 6.6+ MB

In [166]:
df.sample(20)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
4340,TRAIN_04340,2008,2007,ford,mondeo,LUB,LUB,270045,1999,0,0,1,0,0,18.72
15534,TRAIN_15534,2016,2012,kia,ceed,LES,WIE,139000,1368,0,0,1,0,0,50.70
21347,TRAIN_21347,2008,2007,mercedes-benz,c-klasa,TYC,SLA,339400,2148,0,1,0,0,0,32.37
39963,TRAIN_39963,2009,2009,mercedes-benz,e-klasa,YHB,POL,196115,2143,0,1,0,0,0,64.87
6171,TRAIN_06171,2011,2011,honda,civic,ZRI,DOL,97000,1339,0,0,1,0,0,33.67
48844,TRAIN_48844,2008,2006,opel,corsa,WAL,DOL,172390,1229,0,0,1,0,0,15.47
52457,TRAIN_52457,2008,2007,hyundai,i30,BIA,POL,184100,1582,0,1,0,0,0,20.80
21036,TRAIN_21036,2006,2000,nissan,almera,GXI,ZAC,61000,1497,0,0,1,0,0,4.94
11995,TRAIN_11995,2018,2017,opel,insignia,GOR,MAZ,151000,1956,0,1,0,0,0,116.87
8278,TRAIN_08278,2005,2002,honda,accord,ZWO,MAZ,229000,2354,0,0,1,0,0,37.66
19045,TRAIN_19045,2018,2010,ford,focus,BIE,SLA,72900,999,0,0,1,0,0,55.77
1395,TRAIN_01395,2009,2008,renault,megane,PUL,LUB,240000,1598,0,0,1,0,0,24.57
33460,TRAIN_33460,1999,1989,mercedes-benz,sl,YTC,MAL,102000,4973,0,0,1,0,0,122.20
879,TRAIN_00879,2005,2002,honda,accord,DEB,POD,246000,2354,0,0,0,0,1,25.35
17726,TRAIN_17726,2010,2004,bmw,seria-1,WAR,MAZ,191000,1995,0,1,0,0,0,25.87
52260,TRAIN_52260,2004,2004,volvo,s40,ARC,POM,245200,2435,0,0,1,0,0,16.77
3423,TRAIN_03423,2003,2002,mercedes-benz,clk-klasa,KUT,LOD,220000,2597,0,0,1,0,0,18.07
36743,TRAIN_36743,2008,2003,audi,a3,HOC,WIE,150000,1798,0,0,1,0,0,35.75
49897,TRAIN_49897,2012,2007,nissan,qashqai,KAT,SLA,102765,1598,0,0,0,0,1,57.85
45478,TRAIN_45478,2013,2009,toyota,avensis,RZE,POD,131000,1998,0,1,0,0,0,41.34

##### 컬렴명 영어로 바꾸기

In [167]:
# df = df.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
# df = df.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})
# df

In [168]:
def columns_toENG(Data):
    
    print("[Preprocessing] def columns_toENG...")
    Data = Data.rename(columns={'생산년도':'Year_prd','모델출시년도':'Year_model','브랜드':'Brand','차량모델명':'Model','판매도시':'City','판매구역':'Area'})
    Data = Data.rename(columns={'주행거리':'Mileage','배기량':'CC','압축천연가스(CNG)':'Fuel_CNG','경유':'Fuel_Diesel','가솔린':'Fuel_Gasoline','하이브리드':'Fuel_Hybrid','액화석유가스(LPG)':'Fuel_LPG','가격':'Price'})

    return Data

df = columns_toENG(df)
df

[Preprocessing] def columns_toENG...

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### NAN 값 확인

In [169]:
df.isna().sum()

ID               0
Year_prd         0
Year_model       0
Brand            0
Model            0
City             0
Area             0
Mileage          0
CC               0
Fuel_CNG         0
Fuel_Diesel      0
Fuel_Gasoline    0
Fuel_Hybrid      0
Fuel_LPG         0
Price            0
dtype: int64

##### 중고차 아닌 (Mileage < 200km) 데이터 Drop

In [170]:
# 주행거리가 200km 미만인 데이터 갯수 : 1221개
len(df[df['Mileage']<200])

1221

In [171]:
# 인덱스 파악
newCar_idx = df[df['Mileage']<200].index
newCar_idx

Index([    6,    24,    49,   321,   426,   456,   459,   463,   498,   590,
       ...
       57167, 57339, 57393, 57463, 57470, 57479, 57560, 57653, 57861, 57905],
      dtype='int64', length=1221)

In [172]:
# 원본 데이터 갯수 , 신차 데이터 제외한 갯수
len(df) , len(df.drop(index=newCar_idx))

(57920, 56699)

In [173]:
# Criteria : 중고차 최소 km 기준

def drop_newCar(Data,oldCar_Criteria):

    print("[Preprocessing] def drop_newCar...")
    print("Before Datasets size : ", len(Data))
    newCar_idx = Data[Data['Mileage']<oldCar_Criteria].index
    Data = Data.drop(index = newCar_idx)
    print("Delete Datasets size : ",len(newCar_idx))
    print("After Datasets size : ", len(Data))

    return Data

df = drop_newCar(df,200)
df

[Preprocessing] def drop_newCar...
Before Datasets size :  57920
Delete Datasets size :  1221
After Datasets size :  56699

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### 주행거리 이상치 데이터 제거

In [174]:
df.boxplot(column='Mileage')

In [175]:
df['Mileage'].describe()

count    5.669900e+04
mean     1.714840e+05
std      8.031145e+04
min      2.000000e+02
25%      1.162890e+05
50%      1.730000e+05
75%      2.210000e+05
max      2.500000e+06
Name: Mileage, dtype: float64

In [176]:
df[df['Mileage']>=df['Mileage'].describe().max()]

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
40808,TRAIN_40808,2014,2014,ford,mondeo,POZ,LUB,2500000,1999,0,0,0,1,0,30.94

In [177]:
df[df['Mileage'] > 1000000]

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
40808,TRAIN_40808,2014,2014,ford,mondeo,POZ,LUB,2500000,1999,0,0,0,1,0,30.94

In [178]:
# def Mileage_outlier(Data,Mileage_Outlier_Criteria):

#     print("[Preprocessing] def Mileage_outlier...")
#     Data = Data[Data['Mileage'] < Mileage_Outlier_Criteria]

#     return Data

# Mileage_Outlier_Criteria = 1000000
# df = Mileage_outlier(df,Mileage_Outlier_Criteria)

In [179]:
def Mileage_outlier(Data):

    print("[Preprocessing] def Mileage_outlier...")

    # 주행거리 최댓값에 해당하는 이상치 데이터 1개 제거
    Data = Data[Data['Mileage'] < Data['Mileage'].describe().max()]

    return Data

df = Mileage_outlier(df)

[Preprocessing] def Mileage_outlier...

In [180]:
df['Mileage'].describe()

count     56698.000000
mean     171442.912960
std       79714.557265
min         200.000000
25%      116287.000000
50%      173000.000000
75%      221000.000000
max      900000.000000
Name: Mileage, dtype: float64

In [181]:
df['Mileage'].describe().max()

900000.0

In [182]:
df

,ID,Year_prd,Year_model,Brand,Model,City,Area,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57915,TRAIN_57915,2017,2011,mercedes-benz,b-klasa,POZ,WIE,64839,1461,0,1,0,0,0,116.87
57916,TRAIN_57916,2006,2005,opel,zafira,XOK,ZAC,299850,1796,0,0,1,0,0,15.47
57917,TRAIN_57917,2013,2003,fiat,punto,CIE,MAZ,112000,1368,0,0,1,0,0,21.97
57918,TRAIN_57918,2006,2004,opel,astra,ZRI,DOL,189321,1598,0,0,1,0,0,16.77
57919,TRAIN_57919,2005,2004,bmw,seria-1,EIX,SLA,144744,1596,0,0,1,0,0,19.50

##### 필요없는 컬럼 제거 (ID 고유키 값 DROP )

In [183]:
def drop_features(Data,needless_columns):

    print("[Preprocessing] def drop_features...")
    Data = Data.drop(columns = needless_columns)

    return Data

# needless_columns : 필요없는 컬럼 제거
# 'ID' : 고유 키 값
# 'City', 'Area' : 조사 결과 모두 Poland 지역으로 
# 지역에 따른 가격 차이는 미미 할 것으로 보임

needless_columns = ['ID','City','Area']

df = drop_features(df,needless_columns)

[Preprocessing] def drop_features...

In [184]:
df

,Year_prd,Year_model,Brand,Model,Mileage,CC,Fuel_CNG,Fuel_Diesel,Fuel_Gasoline,Fuel_Hybrid,Fuel_LPG,Price
0,2018,2014,skoda,fabia,85231,999,0,0,1,0,0,51.74
1,2010,2006,toyota,auris,135000,1598,0,0,1,0,0,41.47
2,2002,2002,mercedes-benz,clk-klasa,255223,1796,0,0,1,0,0,17.81
3,2006,2001,nissan,x-trail,238000,2184,0,1,0,0,0,18.20
4,2007,2007,fiat,bravo,251000,1910,0,1,0,0,0,17.55
...,...,...,...,...,...,...,...,...,...,...,...,...
57915,2017,2011,mercedes-benz,b-klasa,64839,1461,0,1,0,0,0,116.87
57916,2006,2005,opel,zafira,299850,1796,0,0,1,0,0,15.47
57917,2013,2003,fiat,punto,112000,1368,0,0,1,0,0,21.97
57918,2006,2004,opel,astra,189321,1598,0,0,1,0,0,16.77
57919,2005,2004,bmw,seria-1,144744,1596,0,0,1,0,0,19.50

##### Fuel 컬럼 통합

In [185]:
def column_fuel(Data):

    print("[Preprocessing] def column_fuel...")

    Data['Fuel'] = 0

    fuel_types = ['Fuel_CNG','Fuel_Diesel','Fuel_Gasoline','Fuel_Hybrid','Fuel_LPG']

    fuel_idx = 0
    for fuel_type in fuel_types:
        Data.loc[Data[fuel_type]==1,'Fuel'] = fuel_idx
        fuel_idx += 1

    # 'Fuel_A', 'Fuel_B'... 컬럼 제거
    Data = Data.drop(columns = fuel_types)
    
    # 'Price' 맨 뒤로 
    Data = Data[['Year_prd','Year_model','Brand','Model','Mileage','CC','Fuel','Price']]

    return Data

df = column_fuel(df)

[Preprocessing] def column_fuel...

In [186]:
df

,Year_prd,Year_model,Brand,Model,Mileage,CC,Fuel,Price
0,2018,2014,skoda,fabia,85231,999,2,51.74
1,2010,2006,toyota,auris,135000,1598,2,41.47
2,2002,2002,mercedes-benz,clk-klasa,255223,1796,2,17.81
3,2006,2001,nissan,x-trail,238000,2184,1,18.20
4,2007,2007,fiat,bravo,251000,1910,1,17.55
...,...,...,...,...,...,...,...,...
57915,2017,2011,mercedes-benz,b-klasa,64839,1461,1,116.87
57916,2006,2005,opel,zafira,299850,1796,2,15.47
57917,2013,2003,fiat,punto,112000,1368,2,21.97
57918,2006,2004,opel,astra,189321,1598,2,16.77
57919,2005,2004,bmw,seria-1,144744,1596,2,19.50

##### X / Y 데이터셋 분할

In [187]:
def split_X_Y(Data):

    print("[Preprocessing] def split_X_Y...")
    X= Data.drop(columns='Price')
    Y= Data['Price']

    return X , Y

X , Y = split_X_Y(df)
X[:5]

[Preprocessing] def split_X_Y...

   Year_prd  Year_model          Brand      Model  Mileage    CC  Fuel
0      2018        2014          skoda      fabia    85231   999     2
1      2010        2006         toyota      auris   135000  1598     2
2      2002        2002  mercedes-benz  clk-klasa   255223  1796     2
3      2006        2001         nissan    x-trail   238000  2184     1
4      2007        2007           fiat      bravo   251000  1910     1

In [188]:
Y[:5]

0    51.74
1    41.47
2    17.81
3    18.20
4    17.55
Name: Price, dtype: float64

##### 문자 (Brand, Model, City, Area) 숫자로 Encoding

In [189]:
dict(df.dtypes)

{'Year_prd': dtype('int64'),
 'Year_model': dtype('int64'),
 'Brand': dtype('O'),
 'Model': dtype('O'),
 'Mileage': dtype('int64'),
 'CC': dtype('int64'),
 'Fuel': dtype('int64'),
 'Price': dtype('float64')}

In [190]:
df.dtypes.values

array([dtype('int64'), dtype('int64'), dtype('O'), dtype('O'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64')],
      dtype=object)

In [191]:
# X_Dtype : object => int
def format_features(Data):
    
    print("[Preprocessing] def format_features...")
    from sklearn.preprocessing import LabelEncoder

    Data_dtypes = dict(Data.dtypes)

    for column,dtype in Data_dtypes.items():

        # dtype 이 문자형인 column Label Encoding
        if dtype == 'object':
            
            le = LabelEncoder()
            le = le.fit(Data[column])
            Data[column] = le.transform(Data[column])

    return Data

X = format_features(X)
X

[Preprocessing] def format_features...

       Year_prd  Year_model  Brand  Model  Mileage    CC  Fuel
0          2018        2014     16     47    85231   999     2
1          2010        2006     17     20   135000  1598     2
2          2002        2002      9     36   255223  1796     2
3          2006        2001     11    133   238000  2184     1
4          2007        2007      3     25   251000  1910     1
...         ...         ...    ...    ...      ...   ...   ...
57915      2017        2011      9     23    64839  1461     1
57916      2006        2005     12    142   299850  1796     2
57917      2013        2003      3     90   112000  1368     2
57918      2006        2004     12     19   189321  1598     2
57919      2005        2004      1    103   144744  1596     2

[56698 rows x 7 columns]

##### ※ 선택 ※
##### Year_prd(생산년도) , Year_model(모델출시년도) MinMax Scaling

In [192]:
X['Year_prd']

0        2018
1        2010
2        2002
3        2006
4        2007
         ...
57915    2017
57916    2006
57917    2013
57918    2006
57919    2005
Name: Year_prd, Length: 56698, dtype: int64

In [193]:
import numpy as np

np.array(X['Year_prd'])

array([2018, 2010, 2002, ..., 2013, 2006, 2005], dtype=int64)

In [194]:
# MinMaxScaler는 2d array로 넣어야함
np.array(X['Year_prd']).reshape(-1,1)

array([[2018],
       [2010],
       [2002],
       ...,
       [2013],
       [2006],
       [2005]], dtype=int64)

In [195]:
def MinMaxScaling(X_Data,get_MinMax_Columns):
    
    print("[Preprocessing] def MinMaxScaling...")

    from sklearn.preprocessing import MinMaxScaler
    import numpy as np

    if len(get_MinMax_Columns) == 0:
        print("Execute MinMaxScaling : False")
    else:
        print("Execute MinMaxScaling : True")

    for column in get_MinMax_Columns:
        scaler = MinMaxScaler()
        print(column, " get MinMaxScaling")
        scaler.fit(np.array(X_Data[column]).reshape(-1,1))
        X_Data[column] = scaler.transform(np.array(X_Data[column]).reshape(-1,1))
    
    return X_Data

X = MinMaxScaling(X,['Year_prd','Year_model'])
X

[Preprocessing] def MinMaxScaling...
Execute MinMaxScaling : True
Year_prd  get MinMaxScaling
Year_model  get MinMaxScaling

       Year_prd  Year_model  Brand  Model  Mileage    CC  Fuel
0      0.930233    0.815789     16     47    85231   999     2
1      0.744186    0.605263     17     20   135000  1598     2
2      0.558140    0.500000      9     36   255223  1796     2
3      0.651163    0.473684     11    133   238000  2184     1
4      0.674419    0.631579      3     25   251000  1910     1
...         ...         ...    ...    ...      ...   ...   ...
57915  0.906977    0.736842      9     23    64839  1461     1
57916  0.651163    0.578947     12    142   299850  1796     2
57917  0.813953    0.526316      3     90   112000  1368     2
57918  0.651163    0.552632     12     19   189321  1598     2
57919  0.627907    0.552632      1    103   144744  1596     2

[56698 rows x 7 columns]

In [196]:
# MinMax Scaling 이전 

# Year_prd
import seaborn as sns

sns.histplot(x=df['Year_prd'])

In [197]:
sns.histplot(x=X['Year_prd'])

In [198]:
# Year_prd

sns.histplot(x=df['Year_model'])

In [199]:
sns.histplot(x=X['Year_model'])

##### 데이터 전처리 완료

In [200]:
# X datasets
X

       Year_prd  Year_model  Brand  Model  Mileage    CC  Fuel
0      0.930233    0.815789     16     47    85231   999     2
1      0.744186    0.605263     17     20   135000  1598     2
2      0.558140    0.500000      9     36   255223  1796     2
3      0.651163    0.473684     11    133   238000  2184     1
4      0.674419    0.631579      3     25   251000  1910     1
...         ...         ...    ...    ...      ...   ...   ...
57915  0.906977    0.736842      9     23    64839  1461     1
57916  0.651163    0.578947     12    142   299850  1796     2
57917  0.813953    0.526316      3     90   112000  1368     2
57918  0.651163    0.552632     12     19   189321  1598     2
57919  0.627907    0.552632      1    103   144744  1596     2

[56698 rows x 7 columns]

In [201]:
# Y datatset
Y

0         51.74
1         41.47
2         17.81
3         18.20
4         17.55
          ...
57915    116.87
57916     15.47
57917     21.97
57918     16.77
57919     19.50
Name: Price, Length: 56698, dtype: float64

##### 데이터 전처리 통합

In [202]:
df = pd.read_csv('data//train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int64
 2   모델출시년도       57920 non-null  int64
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int64
 8   배기량          57920 non-null  int64
 9   압축천연가스(CNG)  57920 non-null  int64
 10  경유           57920 non-null  int64
 11  가솔린          57920 non-null  int64
 12  하이브리드        57920 non-null  int64
 13  액화석유가스(LPG)  57920 non-null  int64
 14  가격           57920 non-null  float64
dtypes: float64(1), int64(9), object(5)
memory usage: 6.6+ MB

In [203]:
def data_preprocessing(Data,oldCar_Criteria,needless_columns,get_MinMax_Columns):

    print("[Preprocessing] Start")
    
    # 컬럼명 영어로 변환
    Data = columns_toENG(Data)
    
    # 중고차가 아닌 (주행거리 < 200) 데이터 drop
    Data = drop_newCar(Data,oldCar_Criteria)
    
    # 주행거리 이상치(최대값 1개) 데이터 제거 
    Data = Mileage_outlier(Data)

    # 학습에 필요없는 컬럼 drop
    Data = drop_features(Data,needless_columns)

    # Fuel 컬럼 통합
    Data = column_fuel(Data)

    # X, Y 데이터 분할 
    X , Y = split_X_Y(Data)

    # obeject형 데이터 LabelEncoding
    X = format_features(X)

    # MinMax 스케일링
    X = MinMaxScaling(X,get_MinMax_Columns)

    print("[Preprocessing] End")

    return X , Y

# Criteria : 중고차 최소 km 기준
oldCar_Criteria = 200

# needless_features : 필요없는 컬럼
# 'ID' : 데이터를 구분하는 고유 키값이지만 학습에는 필요없음
# 'City', 'Area' : 조사 결과 모두 Poland 지역으로 지역에 따른 가격 차이는 미미 할 것으로 보임
needless_columns = ['ID','City','Area']

# MinMaxScaling은 선택!!
# get_MinMax_Columns : MinMax Scaling 원하는 컬럼
get_MinMax_Columns = []
# MinMax 원할 때 컬럼명 append
# get_MinMax_Columns = ['Year_prd','Year_model']

X , Y = data_preprocessing(df,oldCar_Criteria,needless_columns,get_MinMax_Columns)

[Preprocessing] Start
[Preprocessing] def columns_toENG...
[Preprocessing] def drop_newCar...
Before Datasets size :  57920
Delete Datasets size :  1221
After Datasets size :  56699
[Preprocessing] def Mileage_outlier...
[Preprocessing] def drop_features...
[Preprocessing] def column_fuel...
[Preprocessing] def split_X_Y...
[Preprocessing] def format_features...
[Preprocessing] def MinMaxScaling...
Execute MinMaxScaling : False
[Preprocessing] End

In [204]:
# 데이터 저장
import os

preprocess_data_dir = 'preprocessed_data'

if not os.path.exists(preprocess_data_dir):
    os.makedirs(preprocess_data_dir)
X.to_csv(preprocess_data_dir+'/preprocess_X_data.csv')
Y.to_csv(preprocess_data_dir+'/preprocess_Y_data.csv')

In [205]:
preprocessed_X = pd.read_csv(preprocess_data_dir+'/preprocess_X_data.csv',index_col=0)
preprocessed_X

       Year_prd  Year_model  Brand  Model  Mileage    CC  Fuel
0          2018        2014     16     47    85231   999     2
1          2010        2006     17     20   135000  1598     2
2          2002        2002      9     36   255223  1796     2
3          2006        2001     11    133   238000  2184     1
4          2007        2007      3     25   251000  1910     1
...         ...         ...    ...    ...      ...   ...   ...
57915      2017        2011      9     23    64839  1461     1
57916      2006        2005     12    142   299850  1796     2
57917      2013        2003      3     90   112000  1368     2
57918      2006        2004     12     19   189321  1598     2
57919      2005        2004      1    103   144744  1596     2

[56698 rows x 7 columns]

In [206]:
preprocessed_Y = pd.read_csv(preprocess_data_dir+'/preprocess_Y_data.csv',index_col=0)
preprocessed_Y

        Price
0       51.74
1       41.47
2       17.81
3       18.20
4       17.55
...       ...
57915  116.87
57916   15.47
57917   21.97
57918   16.77
57919   19.50

[56698 rows x 1 columns]